$BREAK_POINT: 450px;

$BACKGROUND_LIGHT: #FFF;
$COLOR_MAIN_LIGHT: #232a31;
$COLOR_SECONDARY_LIGHT: #888;

$BACKGROUND_DARK: rgba(27,27,27,1);
$COLOR_MAIN_DARK: #b4b2b2;
$COLOR_SECONDARY_DARK: #888686;


  
body
  position: relative
  width: 90%
  max-width: 800px
  margin: 48px auto

  &[data-theme="light"]
    color: $COLOR_MAIN_LIGHT 
    background-color: $BACKGROUND_LIGHT 

    section
      *
        border-bottom-color: $COLOR_MAIN_DARK
      .title
        &::after 
          background: $COLOR_MAIN_LIGHT
      .content
        color: $COLOR_SECONDARY_LIGHT

  &[data-theme="dark"]
    color: $COLOR_MAIN_DARK
    background-color: $BACKGROUND_DARK

    section
      *
        border-bottom-color: $COLOR_MAIN_DARK
      .title
        &::after 
          background: $COLOR_MAIN_DARK
      .content
        color: $COLOR_SECONDARY_DARK

  h1, h2, h3, h4, h5
    margin: 0
  a
    color: inherit
    text-decoration: none

  ul
    margin: 0
    list-style-type: none
  
  section
    margin-bottom: 64px

    .title
      position: relative
      padding-bottom: 4px
      padding-left: 4px
      margin-bottom: 12px
      border-bottom: 1px solid

      &::after 
        content: ""
        position: absolute
        right: -6px
        top: 27px
        width: 8px
        height: 8px
        border-radius: 4px
    
    .sub-title
      display: block
      font-size: 1.3em
      font-weight: bold
      margin-bottom: 2px

  #toolbar
    position: absolute
    display: flex
    justify-content: space-around
    align-items: center
    left: 0
    top: -48px
    background: rgb(61, 62, 66)
    width: 120px
    height: 28px
    border-bottom-left-radius: 4px
    border-bottom-right-radius: 4px

    i
      color: #fff
    a
      padding: 4px
      margin: 3px 2px
      font-size: 14px
      color: #fff
      border-right: 1px solid #fff

      &:last-child
        border-right: 0

    .print-btn
      cursor: pointer
      i 
        padding: 4px   

    .switch-container
      display: flex
      align-items: center

      i
        font-size: 14px
        &:first-child
          margin-right: 4px
        &:last-child
          margin-left: 4px

      .switch
        display: flex
        align-items: center
        padding: 0 1px
        width: 32px
        height: 16px
        box-sizing: border-box
        border-radius: 8px
        border: 2px solid #fff
        cursor: pointer
        
        div
          width: 10px
          height: 10px
          background-color: #fff  
          border-radius: 5px

    @media print   
      display: none !important
    

  #profile
    display: flex
    justify-content: space-between
    align-items: center

    @media ( max-width: $BREAK_POINT )
      display: block
      

    .left-block
      min-width: 30%
      
      .names
        display: flex
        align-items: flex-end
        padding-bottom: 3px
        margin-bottom: 3px
        border-bottom: 1px solid
        > *
          margin: 0 4px

        @media ( max-width: $BREAK_POINT )
          .cn-name
            font-size: 24px
          .en-name
            font-size: 12px
      .job
        text-align: right
        font-style: italic
        
    .right-block
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-start
      margin-top: 8px
      font-size: 18px

      @media ( max-width: $BREAK_POINT )
        padding: 16px 0 0 0
        

      li
        margin-bottom: 6px

        i
          margin-right: 6px

  #skills
    .skill-block
      margin-bottom: 12px

      .skill-list
        display: flex
        flex-wrap: wrap
        padding: 0
        .skill-entry
            line-height: 22px
            font-size: 18px
            &:not(:last-child)::after
              content: '、'

  #experiences
    .expr-block
      margin-bottom: 36px
      .expr-title-block
        margin-bottom: 8px
        .expr-title
          font-size: 1.3em
          font-weight: bold
        .expr-duration
          float: right
          font-size: 14px
          font-style: italic
          line-height: 28px
      .expr-whatido-block
        margin-bottom: 8px
        list-style-type: decimal
        .expr-whatido
          line-height: 1.3em
          font-size: 18px
          padding: 0px
          margin-bottom: 6px
          .expr-whatido-detail
            padding-left: 16px
            list-style-type: circle
      .expr-tech-stack-block
        display: flex
        flex-wrap: wrap
        margin-left: 8px
        .expr-tech-stack-title
          display: inline-block
        .expr-tech-stack
          font-size: 16px
          &:not(:last-child)::after
            content: '、'
  
  #projects
    .proj-block
      margin-bottom: 36px
      .proj-title
        margin-bottom: 8px
        font-size: 1.3em
        font-weight: bold
        a
          margin-left: 8px
          font-size: 16px
      .proj-descriptions-block
        margin-bottom: 8px
        list-style-type: circle
        .proj-descriptions
          line-height: 1.3em
          font-size: 18px
          margin-bottom: 6px
      .proj-tech-stack-block
        display: flex
        flex-wrap: wrap
        margin-left: 8px
        .proj-tech-stack-title
          display: inline-block
        .proj-tech-stack
          font-size: 16px
          &:not(:last-child)::after
            content: '、'

  #educations
    .edu-block
      margin-bottom: 36px
      .edu-title-block
        margin-bottom: 8px
        .edu-title
            font-size: 1.3em
            font-weight: bold
        .edu-duration
          float: right
          font-size: 14px
          font-style: italic
      .edu-descp
        margin-left: 8px
        font-size: 14px